<div class="container">
  <h1 id="streamgetter">StreamGetter</h1>

  <p><img src="https://travis-ci.org/ssysm/StreamGetterV2.svg?branch=master" alt="Build Status" />
  流媒体链接抓取工具 使用Electron&amp;NodeJS(底层Runtime) + Angular6 (UI)框架，使用GPL-V3.0许可证发行。</p>
  <hr>
  <h3 id="">支持的流平台</h3>
  
  <ul>
  <li>Bilibili直播</li>
  
  <li>Line Live</li>
  
  <li>Niconico 生放送</li>
  
  <li>Hibiki Radio Station</li>

  <li>Onsen.ag 音泉</li>
  </ul>
  <hr>
  <div class="update">
    <span>当前版本:V2.1.1</span> <br />
    <!-- <button class="btn">检查更新</button> -->
  </div>
</div>